*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}




main{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #edeff0;

}



.divVideo{
    width: 100%;
    height: 100%;
    position: absolute;
    video{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit:fill;
        top: 0;
        left: 0;
    }
}

.textoErro{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: contain;
 
}

.conteudo{
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 100%;
    z-index: 2;

    h1{
        font-size: 20px;
    }

    p{
        font-size: 16px;
    }


    button{
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 32px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 10px;
    background: linear-gradient(to right, #9aa2a7, #bac1c2);
   
    }   
}

@media (max-width: 768px) {
  .textoErro {
    display: none;
  }
  .conteudo{
    justify-content: flex-start;
  }
}
